In [52]:
import pyodbc
import pandas as pd

In [53]:
pyodbc.drivers()

['SQL Server',
 'MySQL ODBC 8.0 ANSI Driver',
 'MySQL ODBC 8.0 Unicode Driver',
 'SQL Server Native Client 11.0',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server']

In [54]:
conn = pyodbc.connect(
    "Driver={ODBC Driver 17 for SQL Server};"
    "Server=CHAITU\SQLEXPRESS;"
    "Database=Test;"
    "Trusted_Connection=yes;"
)
cursor=conn.cursor()

In [55]:
df=pd.read_csv("umar.csv")

In [56]:
df.head(5)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [57]:
df.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [58]:
cursor.execute("CREATE TABLE Iris (['SepalLengthCm float', 'SepalWidthCm float', 'PetalLengthCm float', 'PetalWidthCm float','Species nvarchar(50))'],dtype='object')")

ProgrammingError: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The definition for column ''SepalLengthCm float', 'SepalWidthCm float', 'PetalLengthCm float', 'PetalWidthCm float','Species nvarchar(50))'' must include a data type. (173) (SQLExecDirectW)")